body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#eee;
  overflow-x:hidden;
  height:100vh;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Raleway', sans-serif;

}
.logo{
  font-weight:700;
  font-size:34px;
  color:#FAFAFA; 
}
input[type=text], input[type=password], input[type=email], textarea{
  border:1px solid #BDBDBD !important;
  padding:0px !important;
  font-size:14px !important;
  border-radius:5px !important;
  display:block;
  margin:0 auto 5px !important;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus{
  border: 2px solid #212121 !important;
  box-shadow: none !important;
}
input[type=text]::placeholder, input[type=password]::placeholder, input[type=email]::placeholder, textarea::placeholder{
  padding:0 10px !important;
}
button, input[type=submit]{
  color:#FAFAFA;
  padding:15px 0px;
  width:100%;
  background:#212121;
  border-radius:100px;
  border:1px solid #FAFAFA;
  font-weight:500;
  opacity:0.8;
  font-size:14px;
  transition:0.3s;
  cursor:pointer;
}
button:hover, input[type=submit]:hover{
  opacity:1;
  transition:0.3s;
}
small{
  color: #4CAF50;
}
.accountSmall{
  margin:5px 0;
  color:#4f4f4f !important;
}
.bold{
  font-weight:700;
}
.thin{
  font-weight:100;
}
.hbadge{
  min-width: 3rem;
  padding: 0 6px;
  text-align: center;
  font-size: 0.8rem;
  line-height: 22px;
  height: 22px;
  background:#4CAF50;
  margin-top:20px;
  color: white;
  font-weight: 500;
  float: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.alert {
  color: white;
  border-radius: 10px;
  position: fixed;
  top: 50px;
  right: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 1111;
  }
  .alert p {
  margin: 0;
  }
  .alert-error {
  background: lightcoral;
  }
  .alert-success {
  background: lightgreen;
  }
  .close {
  color: white;
  cursor: pointer;
  margin-right: 10px;
  }